body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* index.vash css */
.navbar-brand {
    padding: 0;
}

/* index.vash css */
#home {
    background-image: url('/img/rocket.jpg');
    background-size: cover;
    background-position:center;
    padding-top: 70px;
    height: 100vh;
    text-align: center;
}

#home:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1,32,36, 0.75);
}

#logo {
    max-height: 150px;
    width: 100%;
}

@media(max-width:768px){
  #logo {
      max-height: 100px;
  }
}

#slogan {
    color: #eee;
    margin-bottom: 200px;
    text-align: center;
    width: 100%;
}

@media(max-width:768px){
    #slogan{
        margin-bottom: 0;
    }
}

/* about.vash css */
#about {
    min-height: 100%;
}

/* gettingstarted.vash css */
#gettingStarted {
    min-height: 100%;
}

/* contact.vash css */
#contact {
    min-height: 100%;
}
