body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
    padding: 0;
}

#logo {
    max-height: 150px;
    width: 100%;
}

@media(max-width:768px){
  #logo {
      max-height: 100px;
  }
}

#slogan {
    color: #EEEEEE;
    margin-bottom: 200px;
    text-align: center;
    width: 100%;
}

@media(max-width:768px){
    #slogan{
        margin-bottom: 0;
    }
}

/**************************
 *     Footer Section     *
 *************************/

footer {
    margin: 20px 0 0 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1F2C37;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline-block;
    margin: 0 5px 20px 0;
    border-radius: 3px;
    box-shadow: 0 4px 0 transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.social li a {
    display: block;
    background: rgba(0, 0, 0, 0.2); /* 20% black */
    color: rgba(255,255,255,0.3);
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.social li a:hover {
  color: #FFFFFF;
}

footer > .container > p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}
